html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  color: #f7f7f7;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #111111;
}

h1 {
  font-size: 2.25em;
  padding: 0 1em;
  font-style: italic;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ion-icon {
  font-size: 25px;
}

.gap {
  padding: 1em 0 0;
}

.padDown {
  padding: 0.5em 0em 0.5em;
}

.outer {
  padding: 20px;
  text-align: center;
  overflow-x: hidden;
}

.inner {
  display: inline-block;
  padding: 40px;
}

.avatar {
  -moz-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -webkit-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.loadanimation {
  animation: 1s ease-in-out both fadeInRight;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px, 300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0, 0);
  }
}

.tile {
  animation: .4s ease-in-out both fade-in;
}

.tile:nth-child(1) {
  animation-delay: 1.35s;
}

.tile:nth-child(2) {
  animation-delay: 1.5s;
}

.tile:nth-child(3) {
  animation-delay: 1.65s;
}

.tile:nth-child(4) {
  animation-delay: 1.8s;
}

.tile:nth-child(5) {
  animation-delay: 1.95s;
}

.tile:nth-child(6) {
  animation-delay: 2.1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: .5em;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.social li:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  color: rgb(32, 32, 32);
}

.social li:before {
  position: absolute;
  width: 6em;
  margin-left: -1em;
  top: 5em;
  left: 50%;
}

.social li a {
  display: flex;
  color: inherit;
  padding: 1em 1em 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-1 {
  color: #eafa10;
}

.icon-1:hover {
  background: #eafa10;
}

.icon-2 {
  color: #ccff00;
}

.icon-2:hover {
  background: #ccff00;
}

.icon-3 {
  color: #7bff00;
}

.icon-3:hover {
  background: #7bff00;
}

.icon-4 {
  color: #00ff80;
}

.icon-4:hover {
  background: #00ff80;
}

.icon-5 {
  color: #00fff2;
}

.icon-5:hover {
  background: #00fff2;
}

#spin {
  color: rgb(13, 211, 73);
  background-color: #333;
}

#spin:after {
  content: "impressive";
  color: rgb(212, 248, 6);
  animation: spin 3s ease-in-out alternate infinite;
}

@keyframes spin {
  0% {
    content: "great";
    color: rgb(0, 255, 191);
  }
  12% {
    content: "beautiful";
  }
  25% {
    content: "professional";
  }
  37% {
    content: "awesome";
  }
  50% {
    content: "sharable";
  }
  62% {
    content: "printable";
  }
  75% {
    content: "easy";
  }
  87% {
    content: "simple";
  }
}